* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #94a, #963, #ff4);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
  margin: 1.5em;
}

h2 {
  border: rgb(255, 0, 0) 1px solid;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

h3 {
  border-bottom: rgb(159, 226, 43) 1px solid;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

footer {
  color: #333;
  text-align: center;
  width: 100%;
}

section {
  padding: 1em;
}

.logo {
}

.menu,
.contact-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu a,
.contact-links a {
  text-decoration: none;
  color: #333;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.menu a:hover,
.contact-links a:hover {
  color: #f1356d;
  transition: 0.5s;
  text-decoration: underline;
}

.about {
}

.skills {
  grid-row: 1/ 2;
}

.projects {
}

.songs {
}

.skill > ul {
  display: flex;
  flex-wrap: wrap;
}

.skill > ul > li {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #f1b92b;
}

@media (max-width: 1000px) {
  nav {
    flex-direction: column;
    justify-content: space-between;
  }

  .menu li,
  .contact-links li {
    margin: 0.8em;
  }

  main {
    display: flex;
    flex-direction: column;
  }
}
