* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: lightblue;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
    margin: 1.5em;
}

h2 {
    border: gray 1px solid;
    width: 100%;
    text-align: center;
    padding: 0.5em;
}

h3 {
    border-bottom: blueviolet 1px solid;
    width: 100%;
}

main{
    min-height: 90vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "about skills" "projects skills";
}

footer{
    background-color: lightblue;
    color: #333;
    text-align: center;
    width: 100%;
}

section {
    padding: 1em;
}


.logo {
    color: #f1356d;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.3em;
}

.menu, .contact-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu a, .contact-links a{
    text-decoration: none;
    color: #333;
    letter-spacing: 0.1em;
    font-weight: bold;
}


.menu a:hover, .contact-links a:hover{
    color: #f1356d;
    transition: 0.5s;
    text-decoration: underline;
}

.about {
    background-color: lightskyblue;
    color: #333;
    grid-area: about;
    text-align: start;
}


.skills{
    background-color: #333;
    color: coral;
    grid-area: skills;
    text-align: start;
    justify-content: space-between;
}

.projects{
    background-color: lightsalmon;
    color: #333;
    grid-area: projects;
}

.skill > ul {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: space-between;
    }

    .menu li, .contact-links li{
        margin: 0.8em;
    }
}
